@import "tailwindcss";

/* Reset e fonte */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* COMPONENTS */
@layer components {
  /* Section Title */
  .section-title {
    @apply text-center font-bold uppercase tracking-[0.15em] text-2xl pb-2 relative text-gray-800;
  }

  .section-title::after {
    content: "";
    @apply block w-24 h-px mx-auto mt-2 bg-blue-600;
  }
}

/* ANIMATIONS */

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeInBackdrop 0.35s ease-out forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-scaleIn {
  animation: scaleIn 0.35s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeDown {
  animation: fadeDown 0.25s ease-out forwards;
}

/* ==============================
   tira o scroll
   ============================== */

/* #app-scroll-container {
  height: 100dvh;
  overflow-y: scroll;
  scrollbar-width: none;
}

#app-scroll-container::-webkit-scrollbar {
  display: none;
} */
